<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>进销存管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/plantSCM/css/bootstrap.min.css">  
    <script type="text/javascript" src="/plantSCM/js/jquery-2.1.4.min.js"></script> 
    <script type="text/javascript" src="/plantSCM/js/bootstrap.min.js"></script>
    <script src="/plantSCM/js/bootstrap-table.min.js"></script>
    <link rel="stylesheet" href="/plantSCM/css/bootstrap-table.min.css"  /> 
    <script src="/plantSCM/js/bootstrap-table-zh-CN.min.js"></script>
    <script src="/plantSCM/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="/plantSCM/css/bootstrap-select.min.css"  /> 
    <script src="/plantSCM/js/defaults-zh_CN.min.js"></script>
    <script src="/plantSCM/js/moment-with-locales.min.js"></script>  
    <link  rel="stylesheet" href="/plantSCM/css/bootstrap-datetimepicker.min.css">  
    <script src="/plantSCM/js/bootstrap-datetimepicker.min.js"></script>
    <link  rel="stylesheet" href="/plantSCM/css/toastr.min.css">  
    <script src="/plantSCM/js/toastr.min.js"></script>
    <script>
    var path="http://localhost:8000/plantSCM/view/";
    var datas  = [];
    $(function (){
    	$.ajax({
            type:"get",
            url:'/plantSCM/GetInform',
            dataType:"json",
            success:function(data){  
            	for(i in data.result) 
	            {
	               datas[i]={"name":data.result[i].informTime,"age":data.result[i].informContent};
	              
	            }
    	$('#tabletest').bootstrapTable({  	
 	        type:'get',	        
			cache: false,			
			striped: true,
			pagination: true,
			pageSize: 20,
			pageNumber:1,
			pageList: [10, 20, 50, 100],
			search: true,
			//showColumns: true,
			//showRefresh: false,
			//showExport: false,
			//exportTypes: ['csv','txt','xml'],
			//search: true,
			clickToSelect: true,
			sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*） 
			columns: 
			[				
				{field:"name",title:"通知日期",align:"center",valign:"middle",sortable:"true"},
				{field:"age",title:"通知内容",align:"center",valign:"middle",sortable:"true"},				
			],			
			data:datas,
		});	 	       
    }    
    });
    })
    //左侧栏点击事件
    function clickopenrecord(){
    	 window.location.href = path+"factory_openfactoryrecord.html";        	
    }
    function clickhpoutrecord(){
    	window.location.href = path+"factory_hpoutrecord.html";
    }
    function clickpandian(){
    	window.location.href = path+"factory_inventory.html";
    }        
    function clickxiuzheng(){
    	window.location.href = path+"factory_mat_inventory.html";
    }
    function clickinform(){
    	window.location.href = path+"factory_inform.html";
    }
    function logoff(){
    	  localStorage.clear();
    	  window.location.href='login.html';
    }	
    function logoff(){
      	  localStorage.clear();
      	  window.location.href='login.html';
        }
    </script>
</head>
<body>
          <!--水平导航栏-->
          <header>
                <nav class="navbar navbar-default fixed" id="header-nav" role="navigation" style="width:100%">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">进销存管理系统</a>
                        </div>
                        <div class="fl">
                            <ul class="nav navbar-nav">
                                <li class="role-navbar-nav active" id="factory-navbar-nav"><a href="">工厂</a></li>
                            </ul>
                        </div>
                        <div class="fr">
                            <ul class="nav navbar-nav navbar-right">                                
                                <li><a id="nav-staff-name" href="#"><span class="glyphicon glyphicon-user"></span><span id="staff-name"></span></a></li>
                                <li><a id="logout" href="javascript:void(0);" onclick="logoff()"><span class="glyphicon glyphicon-log-out"></span> 退出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>         
            <!--水平导航栏结束-->

                      
            <div class="container-fluid">
            <div class="row">
            <!--垂直导航栏-->
            <div class="col-xs-1 col-md-2">
            <!--nav-stacked是说明是竖直导航栏-->
            <ul id="main-nav" class="nav nav-tabs navbar-default fixed nav-stacked">
            <li>
            <a  href="javascript:void(0);" onclick="clickopenrecord()">
            <i class="glyphicon glyphicon-edit"></i>
                                           开炉登记
            </a>
            </li>
            <li>
            <a href="javascript:void(0);" onclick="clickhpoutrecord()">
            <i class="glyphicon glyphicon-edit"></i>
                                        出厂记录
            </a>
            </li>
            <li>
            <a href="javascript:void(0);" onclick="clickpandian()">
            <i class="glyphicon glyphicon-edit"></i>
                                         盘点清仓
            </a>
            </li>
            <li>
            <a href="javascript:void(0);" onclick="clickxiuzheng()">
             <i class="glyphicon glyphicon-edit"></i>
                                        原料盘点修正
            </a>
            </li>            
            <li style="background-color:#F0FFFF;">
            <a href="javascript:void(0);" onclick="clickinform()">
            <i class="glyphicon glyphicon-envelope"></i>
                                        通知列表
             
            </a>
            </li>           
            </ul>
            </div>
             <!--垂直导航栏结束-->
        
           <div class="col-xs-11 col-md-10">          
      <div class="row">                                          
                       <div class="col-xs-8 col-md-8">      
                           <table class="table table-bordered" id='tabletest'>
                            <tr>
                                <th width="20%">通知时间</th>
                                 <th width="80%">通知内容</th>                                
                           </tr>
                         </table>    
                      </div>                                             
               </div>
               <div class="row">
                   <div class="panel-body" style="padding-bottom:0px;">                                       
                  </div>
               </div>
      </div>
      </div>
   </div>
</body>
</html>