<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>进销存管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/plantSCM/css/bootstrap.min.css">  
    <script type="text/javascript" src="/plantSCM/js/jquery-2.1.4.min.js"></script> 
    <script type="text/javascript" src="/plantSCM/js/bootstrap.min.js"></script>
    <script src="/plantSCM/js/bootstrap-table.min.js"></script>
    <link rel="stylesheet" href="/plantSCM/css/bootstrap-table.min.css"  /> 
    <script src="/plantSCM/js/bootstrap-table-zh-CN.min.js"></script>
     
    <script src="/plantSCM/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="/plantSCM/css/bootstrap-select.min.css"  /> 
    <script src="/plantSCM/js/defaults-zh_CN.min.js"></script>
    <script src="/plantSCM/js/moment-with-locales.min.js"></script>  
    <link  rel="stylesheet" href="/plantSCM/css/bootstrap-datetimepicker.min.css">  
    <script src="/plantSCM/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/plantSCM/js/jquery-ui.min.js"></script>
    <link href="/plantSCM/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="/plantSCM/js/tabulator.min.js"></script>
    <link href="/plantSCM/css/login.css" rel="stylesheet">
    <script type="text/javascript" src="/plantSCM/js/login.js"></script>
    
</head>
<body>
    <div id="container">
      <div class="block-display">
         <div class="login-title">
            <h1>进销存管理系统</h1>
         </div>
         <div class="login-input login-form">
            <div class="account input-form">
              <span class="account-icon"></span>
              <input type="text" name="staffNum" id="staffNum" placeholder="请输入工号"/>
              <span class="error-msg hide"></span>              
            </div>
            <div class="password input-form">
                 <span class="password-icon"></span>
                 <input id="staffPassword" type="password" name="staffPassword" placeholder=" 请输入密码"/>
                 <span class="error-msg hide"></span>
            </div>
            <div class="btn-wrap">
                 <div class="btn-default">
                      <a id="login-submit" href="#">登录</a>
                 </div>
                 <div class="login-error-div">
                      <span class="hide" id="login-error-msg"></span>
                 </div>
            </div>
            
         </div>
      </div>
    </div>   
</body>
</html>